<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-15">
            <div class="border rounded-2 p-4">
                <h2 class="text-center mb-4 text-primary">Sign up</h2>
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <img src="../assets/login.jpg" alt="Login" style="max-width: 100%; height: 600;">
                    </div>
                    <div class="col-md-6">
                        <form style="width: 100%;">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example1">Email address</label>
                                <input type="email" id="form2Example1" class="form-control" />
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example2">Password</label>
                                <input type="password" id="form2Example2" class="form-control" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example3">confirm Password</label>
                                <input type="password" id="form2Example3" class="form-control" />
                            </div>

                            <!-- Checkbox and Forgot password link -->
                            <div class="row mb-4">
                                <div class="col d-flex justify-content-start align-items-center">
                                    <div class="form-check">
                                        <button type="button" class="btn btn-primary btn-block">Sign up</button>
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="text-center ">Already have an account? <a class="text-warning text-decoration-none"  href="login">Sign in</a></p>
                                </div>
                            </div>

                           
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
