<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="btn btn-primary" href="#"><i  class="fa-solid fa-building-columns"></i> Pro Banking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
      </button>

    </div>
  </nav>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      
      
      <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink] ="['\home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Transact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Accounts
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Business Bank Account</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">FAQs</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
          <a class="btn btn-outline-warning"  [routerLink] ="['\login']"> Login</a>
        </form>
      </div>
    </div>
  </nav>