<section class="hero-image p-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h3>Welcome to Pro Bank</h3>
                <p>Your trusted partner in finance.</p>
                <a href="#" class="btn btn-primary btn-lg">Explore Our Services</a>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card p-4">
                <img src="../assets/account.jpg" class="card-img-top" alt="Savings Account">
                <div class="card-body">
                    <h5 class="card-title">Savings Account</h5>
                    <p class="card-text">
                        Start saving today with our competitive interest rates and flexible account options. Whether you're saving for a rainy day or a big purchase, our savings accounts provide security and growth for your money.
                    </p>
                    <a href="#" class="btn btn-primary">Open an Account</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card p-4">
                <img src="../assets/loan.jpg"  class="card-img-top" alt="Personal Loans">
                <div class="card-body">
                    <h5 class="card-title">Personal Loans</h5>
                    <p class="card-text">
                        Achieve your dreams with our competitive personal loan options. Whether you're planning a vacation, home renovation, or need extra funds, our flexible repayment terms and quick approvals make borrowing hassle-free.
                    </p>
                    <a href="#" class="btn btn-primary">Apply Now</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card p-4">
                <img src="../assets/banking.png" class="card-img-top" alt="Online Banking Services">
                <div class="card-body">
                    <h5 class="card-title">Online Banking Services</h5>
                    <p class="card-text">
                        Manage your finances conveniently with our secure online banking platform. From transferring funds to paying bills and monitoring transactions, our intuitive interface ensures you stay in control anytime, anywhere.
                    </p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

